#app {
  // 侧边栏
  .sidebar-container {
    transition: width 0.28s;
    width: 62px ;
    height: 100%;
    position: fixed;
    font-size: 0px;
    top: 0px;
    bottom: 0px;
    left: 0;
    z-index: 1001;
    overflow: hidden !important;
    //reset element-ui css
    .horizontal-collapse-transition {
      transition: 0s width ease-in-out, 0s padding-left ease-in-out, 0s padding-right ease-in-out;
    }
    .scrollbar-wrapper {
      overflow-x: hidden !important;
      .el-scrollbar__view {
        height: 100%;
      }
    }
    .el-scrollbar__bar.is-vertical{
      right: 0px;
    }
    .is-horizontal {
      display: none;
    }
    .el-menu {
      border: none;
      height: 100%;
      width: 100% !important;
    }
    .logo-space{
    width: 115px;
    height: 65px;
    position: relative;
    background-repeat: no-repeat;
    border: none;
  }
  .logo-space-use{
      width: 62px;
      height: 65px;
      position: relative;
    }
   
  }
}
